In [59]:
x = 10

In [60]:
x

10

In [61]:
x,y,z = 10,20,30

In [62]:
x

10

In [63]:
y

20

In [64]:
z

30

# 정수형

In [65]:
type(1)

int

In [66]:
type(10)

int

In [67]:
type(10.0)

float

In [68]:
a = 2
b = 3
a,b

(2, 3)

In [69]:
a + b

5

In [70]:
a - b

-1

In [71]:
a * b

6

In [72]:
a / b

0.6666666666666666

In [73]:
a ** b

8

In [74]:
a // b

0

In [75]:
a % b

2

In [76]:
print(a+b * a)
print(
       (a+b) * a 
)

8
10

## 연습문제0

In [77]:
a, b = 7,3.0

#code 시작
c= a//b
d= a%b

e = a ** b

print(c)
print(d)
print(e)
#code 종료

2.0
1.0
343.0

## Type casting

In [78]:
c,d,e

(2.0, 1.0, 343.0)

In [79]:
a, b = 7, 3.0 
type(a), type(b)

(int, float)

In [80]:
c = int(b)

In [81]:
type(c)

int

In [82]:
c

3

In [83]:
d = float(a)
type(d)
print(d)

7.0

## 연습문제2

In [84]:

mike = 80
judy = 75
sera = 100 

ave = (mike + judy + sera)/3
int(ave)

85

## Bool

In [85]:
a = True
a

True

In [86]:
b = False
b

False

## 비교연산자

In [87]:
a, b = 1,2

In [88]:
print(a<b) #True
print(a<=b) #True
print(a>b) #False
print(a>=b) #False
print(a==b) #False
print(a!=b) #True

True
True
False
False
False
True

In [89]:
print(True and True) # True 
print(True and False) #False
print(False and False)#False

True
False
False

In [90]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [91]:
a = 10
print(a>10 or a==10) #True

True

In [92]:
not a > 10 #True

True

In [ ]:
a = int(input("점수입력"))
b = int(input("점수입력"))
c = int(input("점수입력"))

print(a>65)
print(a>65)
print(a>65)

## NoneTyp

In [ ]:
a = None
a

In [ ]:
print(a)

In [ ]:
quote1 = "안녕하세요. 저는 황동수입니다."
print(quote1)
type(quote1)

In [ ]:
quote2 = '안녕하세요. 저는 황동수입니다.'

In [ ]:
quote1 = """안녕하세요.
저는 황동수입니다."""
print(quote1)

### 연산자

In [ ]:
a = "사과"
b = "과일"

In [ ]:
c = a+b
c

In [ ]:
a * 10

In [ ]:
c * 10

### Escape Code

In [ ]:
quote1 = """안녕하세요.
저는 황동수입니다."""
print(quote1)

In [ ]:
quote1

In [ ]:
quote = "안녕하세요. \n저는 황동수입니다."
print(quote)

In [ ]:
quote2 = "\"황동수\"입니다."
print(quote2)

In [ ]:
quote3 = '"황동수입니다."'
print(quote3)

## indexing , Slicing

In [ ]:
quote = "안녕하세요. 황동수입니다."
quote

In [ ]:
quote[0]

In [ ]:
quote[1]

In [ ]:
quote[-1]

In [ ]:
quote[-2]

In [ ]:
quote[0:6]

In [ ]:
quote[3:12]

In [ ]:
quote[:12]

In [ ]:
quote[5:]

In [ ]:
quote[:]

In [ ]:
quote[::-1]

## 연습문제3

In [ ]:
a = "20190505chicken19000"
year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]
print(year)
print(day)
print(menu)
print(money)

## 문자열 포맷팅

In [ ]:
name = '황동수'
major = "computer"

In [ ]:
intro = "안녕하세요. %s입니다. 전공은 %s입니다. " % (name, major)
intro

In [ ]:
intro = "안녕하세요. {0}입니다. 전공은 {1}입니다." .format(name, major)
intro

In [1]:
pi = 3.14159
pi_def="PI는 %.2f입니다." %pi
pi_def

'PI는 3.14입니다.'

In [3]:
f"PI는 {pi}입니다."

'PI는 3.14159입니다.'

In [13]:
a = "90:30:80"
#code 작성
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

average = (math + english + science )/3
print("평균 점수는 {:.2f}입니다." .format(average))
#code 종료

평균 점수는 66.67입니다.

In [14]:
quote = "안녕하세요. 황동수입니다."
quote

'안녕하세요. 황동수입니다.'

In [15]:
len(quote
   )

14

In [16]:
quote.index('.')

5

In [26]:
"Apple".upper(), "Apple" .lower()

('APPLE', 'apple')

In [24]:
quote.replace('.' , '?')

'안녕하세요? 황동수입니다?'

In [21]:
quote.count(".")

2

In [22]:
a = "안녕하세요."
a

'안녕하세요.'

In [23]:
fruit = "apple  Banana"
fruit_list = fruit.split(" ")
fruit_list

['apple', '', 'Banana']

In [27]:
a = "90:30:80"
a = a.strip()
score_list = a.split(":")

#code 작성
score_list = a.split(":")
score_list

['90', '30', '80']

In [29]:
math, english, science = list(map(int, score_list))
avg = (math + english + science) / 3
print("평균 점수는 {:.2f}입니다." .format(avg))

평균 점수는 66.67입니다.

In [30]:
a = [1, 3.14, "Apple" , ['a','b','c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [31]:
len(a)

4

In [32]:
b = []
type(b)

list

In [33]:
c = list()
c

[]

## range

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [39]:
list1 = list(range(3, 30, 3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [40]:
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [41]:
list1[0]

3

In [42]:
list1[1:5]

[6, 9, 12, 15]

In [44]:
list1[1:5:2]

[6, 12]

In [5]:
list1 = list(range(3, 30, 3))
list1[0] = 'a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [6]:
list1[1:4] = ['b', 'c', 'd']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [7]:
del list1[-1]
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [8]:
a = 10 
del a 
a

NameError: name 'a' is not defined

In [10]:
'a' in list1

True

In [11]:
'e' in list1

False

In [12]:
'a' not in list1

False

In [13]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [14]:
list1 + [10,20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [15]:
len(list1)

8

In [16]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [17]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [19]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [20]:
list1.append([3,4])

In [21]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [22]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [24]:
b = list1.pop

In [26]:
list1 = [1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [28]:
list1.sort(reverse = True)
list1

[4, 3, 2, 2, 1, 1]

In [32]:
tuple1.append(3)

NameError: name 'tuple1' is not defined

In [33]:
tuple1[1] = 4

NameError: name 'tuple1' is not defined

In [35]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [36]:
list2 = list1
list2

[0, 1, 2, 3, 4]

In [37]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [38]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [39]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [40]:
list1

[0, 1, 2, 3, 4]

In [43]:
list1 = [
    [1,2,3],[4,5,6] ,[7,8,9]
]

In [45]:
list2 = list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
list2[0][1] = 'a'
list2

[[1, 'a', 'a'], [4, 5, 6], [7, 8, 9]]

# deepcopy

In [50]:
list1 = [
    [1,2,3] ,[4,5,6], [7,8,9]
]

In [51]:
import copyff

In [52]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [53]:
list2[0][0] = 'a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Dictionary

In [55]:
a = {}
type(a)

dict

In [57]:
profile = {
    name : '황동수'
    city : 'seongnam'
    height:172
}

SyntaxError: invalid syntax (<ipython-input-57-84d28a44a1d9>, line 3)

In [61]:
profile = dict(
    name = '황동수',
    city = 'seongnam',
    height=172
)
profile

{'name': '황동수', 'city': 'seongnam', 'height': 172}

In [62]:
'황동수' in profile

False

In [63]:
'name' in profile

True

## Dictionary 함수.

In [64]:
profile['name'] = '손기은'
profile

{'name': '손기은', 'city': 'seongnam', 'height': 172}

In [65]:
profile['name'] = '황동수'
profile

{'name': '황동수', 'city': 'seongnam', 'height': 172}

In [66]:
profile['city'] = 'Busan'
profile

{'name': '황동수', 'city': 'Busan', 'height': 172}

In [67]:
profile['math_score'] = 10
profile

{'name': '황동수', 'city': 'Busan', 'height': 172, 'math_score': 10}

In [68]:
profile.setdefault('english_socre', 100)
profile

{'name': '황동수',
 'city': 'Busan',
 'height': 172,
 'math_score': 10,
 'english_socre': 100}

In [70]:
profile.setdefault('english_score', 50)
profile

{'name': '황동수',
 'city': 'Busan',
 'height': 172,
 'math_score': 10,
 'english_socre': 100,
 'english': 50,
 'english_score': 50}

In [71]:
profile.setdefault('english_score', 60)
profile

{'name': '황동수',
 'city': 'Busan',
 'height': 172,
 'math_score': 10,
 'english_socre': 100,
 'english': 50,
 'english_score': 50}

In [72]:
profile.get('name')

'황동수'

In [73]:
print(profile.get('comment'))

None

In [74]:
profile.get('comment' , [])

[]

In [75]:
height = profile.pop('height')
print(height)
print(profile)

172
{'name': '황동수', 'city': 'Busan', 'math_score': 10, 'english_socre': 100, 'english': 50, 'english_score': 50}

In [76]:
profile.keys()

dict_keys(['name', 'city', 'math_score', 'english_socre', 'english', 'english_score'])

In [77]:
profile.values()

dict_values(['황동수', 'Busan', 10, 100, 50, 50])

In [78]:
profile.items()

dict_items([('name', '황동수'), ('city', 'Busan'), ('math_score', 10), ('english_socre', 100), ('english', 50), ('english_score', 50)])

## Set

In [83]:
set1 = {1,2,3,3,3,3,3}
set1
set2= {1,4,3,6,3,1,2,1}
set2

{1, 2, 3, 4, 6}

In [84]:
list1 = [1,2,3,3,3,3]
list(set(list1))

[1, 2, 3]

In [85]:
set.union(set1, set2)

{1, 2, 3, 4, 6}

In [86]:
set.intersection(set1,set2)

{1, 2, 3}

In [87]:
set1 - set2

set()

In [88]:
set.difference(set1,set2)

set()

In [89]:
set1 ^ set2

{4, 6}

In [90]:
set.symmetric_difference(set1,set2)

{4, 6}

In [91]:
{1} <= set1

True

In [92]:
set1 <= set2

True

In [93]:
set1.issubset(set2)

True

In [94]:
{1}.issubset(set1)

True

In [95]:
{1,2,3}.isdisjoint({4,5,6})

True

In [96]:
{1,2,3}.isdisjoint({1,2,3})

False

In [97]:
set1

{1, 2, 3}

In [98]:
set1.add(4)
set1

{1, 2, 3, 4}

In [100]:
bool(0), bool(1) #값이 있으면 True 없으면 False

(False, True)

In [101]:
bool(0.0), bool(0.2)

(False, True)

In [102]:
bool("Hello")

True

In [103]:
bool(" ")

True

In [105]:
bool([1]) , bool([])

(True, False)

In [107]:
bool({}), bool({'namjkjjje', :'hi'})

SyntaxError: invalid syntax (<ipython-input-107-7e1462b691f2>, line 1)

In [108]:
x= 10

In [110]:
if x ==10 :
     print("x는 10입니다.")
     print("end code block")

x는 10입니다.
end code block

In [111]:
if x != 10:
    print("x는 10이 아닙니다.")

In [112]:
if x>3 and x < 20:
    print("x는 3보다 크고 20보다 작습니다.")

x는 3보다 크고 20보다 작습니다.

In [114]:
if x>3:
    print("x는 3보다 큽니다.")
    if x>=10:
        print("x는 10보다 크거나 같습니다.")
    if x<20:
        print("x는 20보다 작습니다.")

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [115]:
if x>5:
    print("x는 5보다 큽니다.")
else:
    print("는 5보다 작거나 같습니다.")

x는 5보다 큽니다.

In [116]:
x=3

In [117]:
if x>5 : 
    print("x는 5보다 큽니다.")
elif x>2 : 
    print("x는 2보다 큽니다.")
elif x>0:
    print("x는 0보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 2보다 큽니다.

In [118]:
x = 10

In [119]:
if x>0:
    print("x는 0보다 큽니다.")
elif x>3:
    print("x는 3보다 큽니다.")
elif x>8:
    print("x는 8보다 큽니다.")
else:
    print("x는 음수입니다.")

x는 0보다 큽니다.

In [3]:
a=int(input("점수1"))
b=int(input("점수2"))
c=int(input("점수3"))
if a>100 or b>100 or c>100 :
        print("잘못된 점수가 입력되었습니다.")
elif a > 65 and b>65 and c>65 :
    print("합격")
else:
    print("불합격")

점수1120
점수240
점수330
잘못된 점수가 입력되었습니다.

In [1]:
a=int(input("점수1"))
b=int(input("점수2"))
c=int(input("점수3"))

a,b,c = map(int, [a,b,c])
# not (0<=a<=100) or (not (0<=b<=100) or (not (0<=c<=100)))
if (a not in range(101)) or (b not in range(101) or (c not in range(101))):
    print("잘못된 점수가 입력되었습니다.")
elif a>65 and b>65 and c>65:
    print("합격")
else:
    print("불합격")

점수1100
점수2101
점수330
잘못된 점수가 입력되었습니다.

In [17]:
a=int(input("정수를 입력해주세요"))
b=a%2

if b==1 :
    print("입력하신 %s는 홀수 입니다." %a)
elif b==0 :
    print("입력하신 %s는 짝수입니다." %a)

정수를 입력해주세요0
입력하신 0는 짝수입니다.

In [10]:
num1 = int(input("정수입력:"))

0

In [6]:
for i in['a','b','c']

1

In [18]:
profile = {
    "name" : "황동수",
    "height" : 183,
    "city": 'seoul'
}

In [20]:
for i in profile:
    print(i)

name
height
city

In [36]:
profile = str("안녕")
a=int(input("정수를 입력해주세요"))
for a in range(5) :
    print(profile)

정수를 입력해주세요5
안녕
안녕
안녕
안녕
안녕

In [3]:
profile = str("*")
a=int(input("정수를 입력해주세요"))
for profile in range(0,5,1) :
    print(profile)

SyntaxError: invalid syntax (<ipython-input-3-0057b3a34c90>, line 4)